package.json
node_modules
docs
static/images/favicon*
static/pdfjs/**
resources
patches
.hugo_build.lock
hugo_stats.json
content/post/**/preview.png
content/post/**/preview-mobile.png
content/post/*/front/
content/post/*/title/
content/post/*/end/
content/post/*/cover/
content/post/*/img*/
content/post/*/page*/
content/post/*/end-*/
content/post/*/back-*/
content/post/*/front-*/
content/post/*/*/page*/
content/post/*/*/img*/
content/post/**/back/
static/images/logo.png
content/**/ogPreview.*g
content/**/ogPreview/
content/**/ogPreview.en/
**/.DS_Store
