@use 'sass:color';

/* Colors */
$cyan: rgb(0,255,255);
$red: rgb(255,0,0);
$magenta: rgb(255,0,255);
$blue: rgb(132,255,255);
$yellow: rgb(251,238,153);
$red2: rgb(248,229,216);

$heading-font: 'Oxanium Variable';
$text-font: 'Fredoka Variable';
$text-color: rgba(255,255,255,.8);
$special-font: 'Tektur Variable';
@import "fonts/oxanium";
@import "fonts/fredoka";
@import "fonts/tektur";

@import "normalize";
@import "icons";
@import "mirador";
@import "ol-iiif";
@import "iframe-consent";
@import "map";
@import "share";
@import "3d";
@import "header";
@import "footer";
$font-color-body: var(#000);
$secondary-icon-color: #69c;
$frame-bg-color: var(--base01);
$color-body-text: var(white);
$fullscreen-color: var(--base07);
@import "menu";

/* Site includes */
@import "nav";
@import "page";

:root {
  --cyan: $cyan;
  --magenta: $magenta;
}

/*
* {
  box-sizing: border-box;
}
*/

html,body {
  margin: 0;
  height:100%;
  background-color: black;
  background: linear-gradient(70deg, color.adjust($cyan, $lightness: -40%) 0%, black 50%, color.adjust($magenta, $lightness: -40%) 100%) fixed;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
  font-family: $text-font;

  &.meta {
    #main {
      min-height: calc(100vh - 6em - 5em);
    }
  }

  &.section {
    #page #main .article-single {
      max-width: unset;
    }
  }
}

#page {
  width: 100%;

  #main {
    width: 80%;
    margin: auto;
    @media only screen and (max-width: 600px) {
      width: 95%;
    }

    .article-single {
      color: $text-color;
      max-width: 52rem;
      margin: auto;
      font-size: 1.4em;

      .post-content {
        margin-top: 2.4em;
      }

      h1, h2, h3 {
        mix-blend-mode: unset;
        background-image: linear-gradient(90deg, $magenta, $cyan);
        background-clip: text;
        color: transparent;
      }

      .opt-in-header {
        background-image: unset;
        background-clip: unset;
        color: unset;
      }
    }

    .article-list {

      .list-item {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow:
          12px 12px 16px 0 rgba(0, 0, 0, 0.25),
          -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
        flex-direction: column;
        margin: 3.8em;
        padding: 1em;

        @media only screen and (max-width: 600px) {
          margin: unset;
        }

        .list-item-head {
            max-width: 52rem;
            margin: auto;

            h2 {
                margin-block-start: .6em;
                margin-block-end: 0;
                font-size: 3em;
                font-weight: bold;
                mix-blend-mode: unset;
                background-image: linear-gradient(90deg, $magenta, $cyan);
                background-clip: text;
                color: transparent;
                text-align: center;
                flex-basis: 100%;
                transition: all 500ms linear;

                /*
                &:hover {
                  background-image: linear-gradient(1.77rad, $magenta, $cyan);
                  transition: all 500ms linear;
                }
                */

                a {
                  font-weight: unset;
                  color: unset;

                }
            }

            .meta {
                text-align: end;
                font-size: small;
                margin: .8em 0 1.4em;
                color: rgba(255,255,255,.6);;
            }

        }

        .summary {
          max-width: 48rem;
          margin: auto;
          width: 100%;
          font-size: 1.4em;
          text-align: justify;
          display: flex;
          flex-direction: column;
          color: $text-color;

          p {
            flex-basis: 100%;
            margin-block-start: .4em;
            margin-block-end: .4em;
          }

          a:not(.readmore) {
            mix-blend-mode: unset;
            background-image: linear-gradient(90deg, $cyan, $magenta);
            background-clip: text;
            color: transparent;
          }

          a.readmore {
            text-align: right;
            margin: .6em 0;
            color: darken($magenta, 20%);
            text-shadow: 0 0 1.5px darken($magenta, 20%);
            transition: all all 500ms ease-out;

            &:hover {
              text-shadow: 0 0 4px darken($magenta, 20%);
              transition: all all 500ms ease-out;
            }
          }

        }

        .preview {
          margin: 1.8em auto;
          aspect-ratio: 236 / 79;
          position: relative;
          max-width: 50em;
          transition: all 500ms linear;

          .glasses {
            position: absolute;
            aspect-ratio: 236 / 79;
            height: 100%;

            svg {
              height: 100%;
              width: 100%;
              /*background-image: linear-gradient(0deg, rgba(--cyan, .2), rgba(--magenta, .2));*/

              path {
                fill: darken(#373f43, 7%);
                stroke: rgba(255,255,255,.3);
                stroke-width: 1px;
                transition: all 500ms ease-out;
              }

              &:hover path {
                stroke: rgba(255,255,255,.6);
                transition: all 500ms ease-out;
                /* filter: drop-shadow(0 0 0.75rem rgba(255,255,255,.3)); */
              }
            }

          }

          .eye {
            margin-top: 3px;
            position: absolute;
            width: 42%;
            height: calc(99% - 6px);
            z-index: -99;
            border-radius: 2.4em;

            &.left {
              left: 3px;
            }

            &.right {
              right: 3px;
            }
          }

          .preview-img {
            padding: 10px;
            box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
            @media only screen and (min-width: 600px) {
                display: none;
            }
          }

          @media only screen and (max-width: 600px) {
            .wide {
              display: none;
            }
          }


        }
      }

    }

  }
}

.list-title,
.headline {
  font-family: $heading-font, sans-serif;
}

.source {
    font-size: small;
    text-align: right;
    margin: 1.5em;
    margin-bottom: 4.5em;
    color: lighten(#6c757d, 20%);

    @media (max-width : 30em) {
        margin-bottom: unset;
    }

    a {
        color: lighten(#007bff, 20%);
    }
}
