@use 'sass:color';

/* Colors */
$cyan: rgb(0,255,255);
$red: rgb(255,0,0);
$magenta: rgb(255,0,255);
$magenta-filter: invert(19%) sepia(100%) saturate(2161%) hue-rotate(285deg) brightness(124%) contrast(147%);
$blue: rgb(132,255,255);
$yellow: rgb(251,238,153);
$red2: rgb(248,229,216);

$heading-font: 'Oxanium Variable', sans-serif;
$text-font: 'Fredoka Variable', sans-serif;
$text-color: rgba(255,255,255,.8);
$special-font: 'Tektur Variable';
@import "fonts/oxanium";
@import "fonts/fredoka";
@import "fonts/tektur";
@import "normalize";
@import "icons";
@import "mirador";
@import "ol-iiif";
@import "iframe-consent";
@import "map";
@import "share";
@import "3d";
@import "tagcloud";
@import "footer";
$font-color-body: $text-color;
$secondary-icon-color: #69c;
$frame-bg-color: var(--base01);
$color-body-text: var(white);
$fullscreen-color: var(--base07);
@import "menu";

/* Site includes */
$clipmask: '/images/svgs/glasses_background-clippath.svg#clipPath';
@import "header";
@import "nav";
@import "page";
@import "404";

:root {
  --cyan: $cyan;
  --magenta: $magenta;
  /*
  --cyan: #{$cyan};
  --magenta: #{$magenta};
  */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;

  &:hover {
    color: #535bf2;
  }
}

.source {
  font-size: small;
  text-align: right;
  margin: 1.5em;
  margin-bottom: 4.5em;
  color: lighten(#6c757d, 20%);

  @media (max-width : 30em) {
      margin-bottom: unset;
  }

  a {
    color: lighten(#007bff, 20%);
  }
}

html {
  scroll-behavior: smooth;
}

html,body {
  margin: 0;
  height:100%;
  background: linear-gradient(70deg, color.adjust($cyan, $lightness: -40%) 0%, black 50%, color.adjust($magenta, $lightness: -40%) 100%) fixed;
}

body {
  margin: 0;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
  width: 100%;
  font-family: $text-font;

  /*
  &.meta {
    .main {
      min-height: calc(100vh - 6em - 5em);
    }
  }
  */

  &.meta {
    .post-body {
      margin-bottom: 3.4em;
    }
  }

  &.section {
    .main .article-single {
      max-width: unset;
    }
  }
}

.main {
  width: 80%;
  margin: auto;
  margin-top: 3.2em;
  min-height: calc(100vh - 8em - 7em - 3.2em);

  @media (max-width: 30em) {
    width: 95%;
  }

  .article-single,
  .article-list,
  .section-single {
    max-width: 56rem;
    margin: auto;
    font-size: 1.4em;

    @media (max-width: 30em) {
      font-size: 1em;
    }

    h1, h2, h3 {
      font-family: $heading-font;
    }

    h1 {
      font-size: 2em;
      mix-blend-mode: unset;
      background-image: linear-gradient(90deg, $magenta, $cyan);
      background-clip: text;
      color: transparent;
    }

    h2 {
      font-size: 1.6em;
    }

    .post-title,
    .tag-title {
      margin-block-start: unset;
      font-size: 2.2em;
      text-align: center;
    }

    a {
      text-decoration: none;
      color: color.adjust($cyan, $lightness: -10%);

      &:visited {
        color: color.adjust($cyan, $lightness: -20%);
      }

      &:hover {
        color: $cyan;
      }
    }

    .post-meta,
    .meta {
      font-size: .8em;

      .date {
        color: rgba(255,255,255,.6);
        white-space: nowrap;

        @media (max-width: 30em) {
          display: none;
        }
      }
    }

  }

  .section-single {
    .section-content {
      color: rgba(255,255,255,.6);
    }

    .section-content-list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-between;
      max-height: 8em;
      padding-inline-start: 0;

      @media (max-width: 30em) {
        max-height: 14em;
        margin-left: .4em;
        margin-right: .4em;
      }

      .section-content-item {
        &::marker {
          display: none;
        }
      }
    }
  }

  .article-list {
    .list-item {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 16px;
      /*box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);*/
      backdrop-filter: blur(5px);
      /* -webkit-backdrop-filter: blur(5px); */
      /*border: 1px solid rgba(255, 255, 255, 0.3);*/
      box-shadow:
        12px 12px 16px 0 rgba(0, 0, 0, 0.25),
        -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
      flex-direction: column;
      padding: 1em;
      margin-bottom: 2.8em;

      @media (max-width: 30em) {
        border-radius: unset;
        box-shadow: unset;
        margin-bottom: 1em;
      }

      .list-item-head {
        max-width: 52rem;
        margin: auto;

        h2 {
          margin-block-start: .6em;
          margin-block-end: 0;
          font-size: 2.2em;
          font-weight: bold;
          mix-blend-mode: unset;
          background-image: linear-gradient(90deg, $magenta, $cyan);
          background-clip: text;
          color: transparent;
          text-align: center;
          flex-basis: 100%;
          transition: all 500ms linear;

          a {
            font-weight: unset;
            color: unset;

            @media (max-width: 30em) {
              max-width: 90vw;
              text-overflow: clip;
            }
          }
        }

        .meta {
          text-align: end;
          font-size: small;
          margin: .8em 0 1.4em;
          color: rgba(255,255,255,.6);
        }
      }

      .summary {
        max-width: 48rem;
        margin: auto;
        width: 100%;
        font-size: 1em;
        text-align: justify;
        display: flex;
        flex-direction: column;
        color: $text-color;
        margin-top: .8em;
        margin-bottom: .8em;

        @media (max-width: 30em) {
          text-align: center;
        }

        p {
          flex-basis: 100%;
          margin-block-start: .4em;
          margin-block-end: .4em;
        }

        a:not(.readmore) {
          mix-blend-mode: unset;
          background-image: linear-gradient(90deg, $cyan, $magenta);
          background-clip: text;
          color: transparent;
        }

        a.readmore {
          text-align: right;
          margin: .6em 0;
          color: color.adjust($magenta, $lightness: -20%);
          text-shadow: 0 0 1.5px color.adjust($magenta, $lightness: -20%);
          transition: all 500ms ease-out;

          &:hover {
            text-shadow: 0 0 4px color.adjust($magenta, $lightness: -20%);
            transition: all 500ms ease-out;
          }
        }

      }

      .preview {
        margin: 1.8em auto;
        aspect-ratio: 236 / 79;
        position: relative;
        max-width: 50em;
        transition: all 500ms linear;

        .glasses {
          position: absolute;
          aspect-ratio: 236 / 79;
          height: 100%;

          svg {
            height: 100%;
            width: 100%;

            path {
              fill: color.adjust(#373f43, $lightness: -7%);
              stroke: rgba(255,255,255,.3);
              stroke-width: 1px;
              transition: all 500ms ease-out;
            }

            &:hover path {
              stroke: rgba(255,255,255,.6);
              transition: all 500ms ease-out;
            }
          }

        }

        .eye {
          margin-top: 3px;
          position: absolute;
          width: 42%;
          height: calc(99% - 6px);
          z-index: -99;
          border-radius: 2.4em;

          &.left {
            left: 3px;
          }

          &.right {
            right: 3px;
          }
        }

        .preview-img {
          padding: 10px;
          box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;

          @media (min-width: 30em) {
            display: none;
          }

          @media (max-width: 30em) {

          }
        }

        @media (max-width: 30em) {
          .wide {
            display: none;
          }
        }
      }
    }
  }
}

.list-title,
.headline {
  font-family: $heading-font;
}

@keyframes moving-gradient {
  0% {background-position: 0% 50%}
  100% {background-position: 100% 50%}
}


.iframe-wrapper {
  .iframe .iframe-content {
    @media (max-width: 30em) {
      /*overflow: scroll;*/
    }
  }
}

#head .header-menu .header-menu-list,
.footer .menu-container.menu-footer .menu .menu-footer-items {
  .menu-item {
    display: inline;

    &::marker {
      display: none;
    }

    @keyframes menu-bg {
      0% {background-position-x: 0% }
      100% {background-position-x: 100%}
    }

    a {
      color: $magenta;
      text-shadow: 0 0 3.6px $magenta, 0 0 5.6px #000;

      transition: all 200ms linear;

      &:visited {
        /* color: darken($magenta, 15%); */
        transition: all 200ms linear;
      }

      &:hover {
        color: transparent;
        background-image: linear-gradient(90deg, $magenta, $cyan);
        background-clip: text;
        background-size: 500% 100%;
        text-shadow: unset;
        transition: all 200ms linear;
        animation: menu-bg linear alternate-reverse 800ms infinite;
      }
    }
  }
}
