.footer {
  font-family: $special-font, sans-serif;

  padding-top: 1em;
  margin-top: 1.4em;
  width: 100%;
  overflow: hidden;
  height: 7em;

  .menu-container.menu-footer {
    display: flex;

    .menu {
      width: 80%;
      margin: auto;

      .menu-footer-items {
        padding-inline-start: unset;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-block-start: unset;
        margin-block-end: unset;

        .menu-item  {
          display: inline;
          text-shadow: 0 0 2px, 0 0 4px black;

          &::marker {
            display: none;
          }

          a {
            font-size: 1.4rem;
            color: darken($magenta, 10%);
            text-shadow: $cyan 1px 0 10px;

          }

        }
      }
    }
  }

  .footer-container {
    padding-top: 1.2em;
    background-image: url('/images/svgs/footer.svg');
    background-size: cover;

    .projektemacher {
      padding-top: .6em;

      img {
        vertical-align: middle;
        filter: drop-shadow(0 0 4px cyan);
      }
    }

    p {
      font-size: 1em;
      text-align: center;
      color: $blue;
      text-shadow: 0 0 2.6px $blue, 0 0 4.6px black;
      margin-block-start: .4em;
      margin-block-end: .4em;
    }

  }

}
