.footer {
  font-family: $special-font, sans-serif;

  padding-top: 1em;
  margin-top: 1.4em;
  width: 100%;
  overflow: hidden;
  height: 7em;

  .menu-container.menu-footer {
    display: flex;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: -2px;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      height: 2px;
      background-image: linear-gradient(90deg, $magenta, $cyan)
    }

    .menu {
      width: 80%;
      margin: auto;
      background-image: linear-gradient(90deg, $magenta, $cyan);
      background-clip: text;
      color: transparent;
      background-size: 200% 200%;
      animation: moving-gradient alternate 5s infinite;

      .menu-footer-items {
        padding-inline-start: unset;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-block-start: unset;
        margin-block-end: unset;
        height: 2rem;
        align-items: center;

        @media (max-width: 20em) {
          font-size: 1rem;
        }

        .menu-item  {
          display: inline;
          /*text-shadow: 0 0 2px, 0 0 4px black;*/

          &:marker {
            display: none;
          }

          a {
            font-size: 1.2rem;
            /*color: darken($magenta, 10%);
            text-shadow: $cyan 1px 0 10px;
            */
            color: transparent;
          }
        }
      }
    }
  }

  .footer-container {
    padding-top: 1.2em;
    background-image: url('/images/svgs/footer.svg');
    background-size: cover;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

    .projektemacher {
      img {
        vertical-align: middle;
        filter: drop-shadow(0 0 4px cyan);
      }
    }

    p {
      font-size: 1em;
      text-align: center;
      color: $blue;
      text-shadow: 0 0 2.6px $blue, 0 0 4.6px black;
      margin-block-start: unset;
      margin-block-end: unset;

      @media (max-width: 30em) {
        font-size: .8em;
      }
    }
  }
}
