#head {
  margin-top: .5em;

  /* TODO: The menu for mobile devices */
  .menu {
    display: none;
  }

  .header-logo {
    position: relative;
    margin: auto;

    .header-logo-first {
      max-width: 30%;
    }

    .header-logo-second {
      position: absolute;
      max-width: 30%;
      left: 0;
      top: 0;
    }

    .logo-part {
      margin: auto;
    }

  }

  /* TODO: Hide this this for mobile devices */
  .header-menu {
    background-image: url(/images/svgs/footer.svg);
    background-size: cover;
    padding: 0.4em;

    .header-menu-list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-block-start: unset;
      margin-block-end: unset;
      width: 80%;
      font-size: 1.4rem;
      margin: auto;


      .menu-item {
        display: inline;

        &:marker {
          display:none;
        }
      }
    }
  }

}
