#head {
  margin-top: .5em;

  .header-logo {
    position: relative;
    margin: auto;

    .header-logo-first {
      max-width: 30%;
    }

    .header-logo-second {
      position: absolute;
      max-width: 30%;
      left: 0;
      top: 0;
    }

  }

  .header-menu {
    .header-menu-list {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-block-start: unset;
      margin-block-end: unset;
      width: 80%;
      font-size: 1.4rem;

      .menu-item {
        display: inline;

        &:marker {
          display:none;
        }
      }
    }
  }

}
