.main .article-single,
.main .section-single {
  color: $text-color;
  margin: auto;

  .post-content {
    margin-top: 2.4em;
  }

  h1, h2, h3 {
    margin-bottom: .2em;
  }

  h2 {
    mix-blend-mode: unset;
    background-image: linear-gradient(90deg, darken($magenta, 15%), darken($cyan, 15%));
    background-clip: text;
    color: transparent;
  }

  h3 {
    mix-blend-mode: unset;
    background-image: linear-gradient(90deg, darken($magenta, 30%), darken($cyan, 30%));
    background-clip: text;
    color: transparent;
  }

  .post-title {
    flex-basis: 100%;
  }

  .post-body .post-content {
    margin-bottom: 3.4em;
  }

  /* TODO: Finish this */
  .post-header {

    .post-meta {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
      margin-top: 1.2em;

      .date {
        text-align: end;
        font-size: small;
      }

      .date:first-child {
        flex-basis: 100%;
      }

      .tags {
        flex-basis: 50%;
        list-style-type: none;
        margin-block-start: .6em;
        margin-block-end: unset;
        padding-inline-start: unset;
        text-align: end;
        flex-grow: 1;
        margin-right: 1em;

        @media (max-width: 30em) {
          margin-right: unset;
        }

        .tags-head {
          margin-block-start: unset;
        }
      }

      .parent-section {
        flex-basis: 50%;

        @media (max-width: 30em) {
          white-space: nowrap;
          text-overflow: clip;
          /*overflow: hidden;*/
        }
      }
    }
  }

  .post.section {
    .post-content {
      margin-bottom: unset;
    }

    .section-content {
      margin-bottom: 3.8em;

      .section-content-heading {
        background-size: 200% 200%;
        animation: moving-gradient alternate 5s infinite;
      }
    }
  }

  .download-link,
  .share {
    background-image: linear-gradient(90deg, $magenta, $cyan);
    background-clip: text;
    color: transparent;
    background-size: 200% 200%;

    &:hover {
      animation: moving-gradient alternate 5s infinite;
    }

    a {
      color: transparent;

      &:visited {
        color: transparent;
      }

      &:hover {
        color: transparent;
      }
    }
  }

  .post-body {

    .iiif {

      .iiif-image {
        padding: unset;
      }

      .viewer {
        width: 100%;
        padding: .8em;
        background: rgba(255,255,255,.2);
        border-radius: 16px;
        backdrop-filter: blur(5px);
        /*-webkit-backdrop-filter: blur(5px);*/
        border: 1px solid rgba(255,255,255,.3);
        box-shadow: 12px 12px 16px 0 rgba(0,0,0,.25), -8px -8px 12px 0 rgba(255,255,255,.3);
        box-sizing: border-box;

        @media (max-width: 30em) {
          padding: .1em;
          box-shadow: unset;
          border-radius: unset;
        }
      }
    }
  }
}

li:has(img.flag) {
  height: 1.6em;
}

img.flag {
  margin-left: 1rem;
  image-rendering: pixelated;
  transform: scale(1.5);
  vertical-align: top;
  display: inline-block;

  @media (max-width: 30em) {
    display: none;
  }
}
