.tagcloud {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Tektur Variable",sans-serif;
  background: rgba(255,255,255,.2);
  border-radius: 1em;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255,255,255,.3);
  box-shadow: 12px 12px 16px 0 rgba(0,0,0,.25),-8px -8px 12px 0 rgba(255,255,255,.3);
  width: 90%;
  margin: 1em auto;
  margin-top: 2.4em;

  @media (max-width: 30em) {
    box-shadow: unset;
    margin: .2em auto;
    border-radius: unset;
    overflow: hidden;
    width: unset;
  }

  a.cloud-tag {
    margin: .4em !important;
    text-align: unset;
    white-space: nowrap;
    display: inline-block;
    text-shadow: 0 0 2.1px $cyan;

    @media (max-width: 30em) {
      white-space: unset;
      text-align: center;
    }
  }
}
