{{ define "title" }}
  {{- .Title }} · {{ .Site.Title -}}
{{ end }}
{{ define "content" }}

  {{- $pages := .Pages -}}
  {{- if .IsHome -}}
      {{- $pages = .Site.RegularPages -}}
  {{- end -}}

  {{/* Sort sticky pages to top */}}
  {{- $stickyPages := where $pages "Params.sticky" "==" true -}}
  {{- $nonStickyPages := where $pages "Params.sticky" "!=" true -}}
  {{- $pages = union $stickyPages $nonStickyPages -}}

  <div class="container">
      <main role="main" class="article-list">
          <h1 class="list-title">{{ .Title }}</h1>
              {{ partial "article.html" . }}
      </main>
  </div>
  {{ partial "pagination.html" . }}
  {{- partial "footer.html" . -}}
{{ end }}
