{{ define "title" }}
  {{- .Title }} · {{ .Site.Title -}}
{{ end }}
{{ define "content" }}
  {{- $pages := .Pages -}}
  {{- if .IsHome -}}
    {{- $pages = where .Site.Pages "Section" "post" -}}
    {{- $pages = where $pages "Path" "!=" "/post" -}}
  {{- end -}}

  {{/* Sort sticky pages to top */}}
  {{- $stickyPages := where $pages "Params.sticky" "==" true -}}
  {{- $nonStickyPages := where $pages "Params.sticky" "!=" true -}}
  {{- $pages = union $stickyPages $nonStickyPages -}}
  {{- $pages = $pages.ByDate.Reverse -}}

  {{- $paginator := .Paginate (where $pages "Params.displayinlist" "!=" false) -}}

  <main role="main" class="article-list">
    {{/* This is true if list contains tags */}}
    {{- if and (ne .Path nil) (hasPrefix .Path "/tags") -}}
      {{ $tagTranslation := (i18n .Title) }}
      {{- if eq $tagTranslation "" -}}
        {{- $tagTranslation = .Title -}}
      {{- end -}}
      <div class="tag-header">
        <h1 class="tag-title">{{ i18n "allTags" }} {{ $tagTranslation }}</h1>
      </div>
    {{- end -}}

    {{ range $paginator.Pages }}
      {{ partial "list-item.html" . }}
    {{ end }}
  </main>
  {{ partial "paginator.html" $paginator }}
{{ end }}
