{{ define "title" }}
  {{- .Title }} · {{ .Site.Title -}}
{{ end }}
{{ define "content" }}
  {{- $pages := .Pages -}}
  {{- if .IsHome -}}
    {{- $pages = where .Site.Pages "Section" "post" -}}
    {{- $pages = where $pages "Path" "!=" "/post" -}}
  {{- end -}}

  {{/* Sort sticky pages to top */}}
  {{- $stickyPages := where $pages "Params.sticky" "==" true -}}
  {{- $nonStickyPages := where $pages "Params.sticky" "!=" true -}}
  {{- $pages = union $stickyPages $nonStickyPages -}}

  {{- $paginator := .Paginate (where $pages "Params.displayinlist" "!=" false) -}}

  {{/* TODO: Check if we have sections, don't display their contents in lists */}}

  <main role="main" class="article-list">
    {{ range $paginator.Pages }}
      {{ partial "list-item.html" . }}
    {{ end }}
  </main>
  {{ partial "paginator.html" $paginator }}
{{ end }}
