{{- if and (isset .Page.Params "type") (eq .Page.Params.type "3d")  -}}

{{- $previewWidth := "200" -}}

{{- $contextPath := "" -}}
{{- if and (ne nil .File) (ne nil .File.Path) -}}
  {{- $contextPath = path.Dir .File.Path -}}
{{- end -}}

<div class="preview">
  {{- $baseImageName := "front" -}}
  {{- if eq .Params.resources nil -}}
    {{- warnf "Page %s has no resources!" .File.Path -}}
  {{- end -}}
  {{- if lt (len (where .Params.resources ".name" "front")) 1 -}}
    {{- $frontResource := (where .Params.resources ".name" "page") -}}
    {{- $infoJson := (index $frontResource 0).params.iiif -}}
    {{- $baseImageName = path.Dir $infoJson -}}
  {{- end -}}
  {{- if and (isset .Page.Params "subtype") (or (eq .Page.Params.subtype "stereoscopic") (eq .Page.Params.subtype "anaglyph")) -}}
    {{- $ana := path.Join $contextPath (printf "%s-anaglyph.jpg" $baseImageName) -}}
    {{- if fileExists $ana -}}
      {{- $image := .Resources.Get (printf "%s-anaglyph.jpg" $baseImageName) -}}
      {{- if ne $image nil -}}
        {{ $image = $image.Process (printf "resize %sx" $previewWidth) }}
        <div alt="{{ .Title }} {{ i18n "preview" }}" style="background: url({{- $image.RelPermalink -}}) center no-repeat; width: {{ $image.Width }}px; height: {{ $image.Height }}px" class="preview-img">
      {{- else -}}
        {{- warnf "[partials/3d-preview.html] Can't load '%s'" $ana -}}
      {{- end -}}
    {{- else -}}
      {{- warnf "[partials/3d-preview.html] Can't find file '%s'" $ana -}}
    {{- end -}}
  {{- end -}}
</div>
{{- end -}}
