{{- if and (isset .Page.Params "type") (eq .Page.Params.type "3d")  -}}

{{- $previewWidth := "400" -}}

{{- $contextPath := "" -}}
{{- if and (ne nil .File) (ne nil .File.Path) -}}
  {{- $contextPath = path.Dir .File.Path -}}
{{- end -}}

{{- $rotation := "" }}
{{- range (seq 0 1) -}}
    {{- $rotation = printf "%s%d" $rotation (index (shuffle (seq 0 99)) 0) }}
{{- end -}}
{{- $rotation = printf "%s%d.%s" (index (shuffle (slice "-" "")) 0) (index (shuffle (seq 0 1)) 0) $rotation -}}
<a href="{{ .RelPermalink }}">
  {{/* style="transform: rotate({{$rotation}}deg);"  */}}
  <div class="preview" alt="{{ .Title }} {{ i18n "preview" }}">
    {{- $baseImageName := "front" -}}
    {{- if eq .Params.resources nil -}}
      {{- warnf "Page %s has no resources!" .File.Path -}}
    {{- end -}}
    {{- if lt (len (where .Params.resources ".name" "front")) 1 -}}
      {{- $frontResource := (where .Params.resources ".name" "page") -}}
      {{- $infoJson := (index $frontResource 0).params.iiif -}}
      {{- $baseImageName = path.Dir $infoJson -}}
    {{- end -}}
    {{- if and (isset .Page.Params "subtype") (or (eq .Page.Params.subtype "stereoscopic") (eq .Page.Params.subtype "anaglyph")) -}}
      {{- $ana := path.Join $contextPath (printf "%s-anaglyph.jpg" $baseImageName) -}}
      {{- if fileExists $ana -}}
        {{- $imageL := .Resources.Get (printf "%s-left.jpg" $baseImageName) -}}
        {{- $imageR := .Resources.Get (printf "%s-right.jpg" $baseImageName) -}}

        {{- if and (ne $imageL nil) (ne $imageR nil) -}}
          {{ $imageL = $imageL.Process (printf "resize %sx" $previewWidth) }}
          {{ $imageR = $imageR.Process (printf "resize %sx" $previewWidth) }}
          <div class="eye left wide" style="background: url({{- $imageL.RelPermalink -}}) center no-repeat;">
          </div>
          <div class="eye right wide" style="background: url({{- $imageR.RelPermalink -}}) center no-repeat;">
          </div>
          <div class="glasses wide">
            {{- partialCached "glasses-svg.html" . -}}
          </div>
          {{- $image := .Resources.Get (printf "%s-anaglyph.jpg" $baseImageName) -}}
          {{- $image = $image.Process (printf "resize %sx" $previewWidth) -}}
          {{- $height := $image.Height -}}
          {{- if (ne $image nil) -}}
            <div alt="{{ .Title }} {{ i18n "preview" }}" style="background: url({{- $image.RelPermalink -}}) center no-repeat; aspect-ratio: {{ $image.Width }} / {{ $image.Height }}; max-width: 90%;" class="preview-img">
          {{- end -}}
        {{- else -}}
          {{- warnf "[partials/3d-preview.html] Can't load '%s'" $ana -}}
        {{- end -}}
      {{- else -}}
        {{- warnf "[partials/3d-preview.html] Can't find file '%s'" $ana -}}
      {{- end -}}
    {{- end -}}
  </div>
</a>
{{- end -}}
