{{- if and (isset .Page.Params "type") (eq .Page.Params.type "3d")  -}}
{{- $rotation := "" }}
{{- range (seq 0 1) -}}
    {{- $rotation = printf "%s%d" $rotation (index (shuffle (seq 0 99)) 0) }}
{{- end -}}
{{- $rotation = printf "%s%d.%s" (index (shuffle (slice "-" "")) 0) (index (shuffle (seq 0 1)) 0) $rotation -}}

  <div class="preview" style="transform: rotate({{$rotation}}deg);">
    {{- $context := path.Dir .File.Path -}}
    {{- $baseImageName := "front" -}}
    {{- if lt (len (where .Params.resources ".name" "front")) 1 -}}
      {{- $frontResource := (where .Params.resources ".name" "page") -}}
      {{- $infoJson := (index $frontResource 0).params.iiif -}}
      {{- $baseImageName = path.Dir $infoJson -}}
    {{- end -}}
    {{- if and (isset .Page.Params "subtype") (or (eq .Page.Params.subtype "stereoscopic") (eq .Page.Params.subtype "anaglyph")) -}}
      {{- $ana := path.Join $context (printf "%s-anaglyph.jpeg" $baseImageName) -}}
      {{ if (fileExists $ana) -}}
        {{ $image := .Resources.Get (printf "%s-anaglyph.jpeg" $baseImageName) }}
        {{ $image = $image.Process "resize 400x" }}
        <img src="{{- $image.RelPermalink -}}" alt="{{ .Title }} {{ i18n "preview" }}">
      {{- else -}}
        {{- warnf "3D Preview: Can't find file '%s'" $ana -}}
      {{- end -}}
    {{- end -}}
  </div>
{{- end -}}
