<header class="header header-main {{ if .IsHome }}home{{ end }}" id="head">
  <div class="menu">
    {{ partial "menu.html" . }}
  </div>
  <div class="header-container">
    <div class="header-logo">
      <a href="/" title="{{ .Site.Title }}" class="header-link">
        <img class="header-logo-first logo-part" alt="{{ .Site.Title }}" src="/images/svgs/vintage.svg"/>
      </a>
      {{- partialCached "glasses-svg.html" . -}}
      <a href="/" title="{{ .Site.Title }}" class="header-link">
        <img class="header-logo-second logo-part" alt="{{ .Site.Title }}" src="/images/svgs/reality.svg"/>
      </a>
    </div>

    <div class="header-menu">
      <ul class="header-menu-list">
        {{- with .Site.Menus.main -}}
          {{- range sort . -}}
            {{- if ne (path.Base .URL) "/" -}}
              <li class='menu-item {{ if eq ("/") (.URL) }}menu-item-type-custom menu-item-object-custom{{ else }}menu-item-type-post_type menu-item-object-page{{ end }}'>
                <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
              </li>
              {{- end -}}
          {{- end -}}
        {{- end -}}
      </ul>
    </div>
  </div>
</header>
