<article class="list-item" itemscope itemtype="http://schema.org/Blog">
  <div class="list-item-head">
    {{- $title := .Title -}}
    {{- if ne .CurrentSection.Path "/post" -}}
      {{- $title = printf "%s: %s" .CurrentSection.Title .Title -}}
    {{- end -}}
    <h2 class="headline" itemprop="headline"><a href="{{ .RelPermalink }}">{{ $title }}{{ if .Draft }} (Draft){{ end }}</a></h2>
    <div class="meta">
    {{ if not .Date.IsZero }}
      <a href="{{ .RelPermalink }}" class="date">
        <span class="key">{{ i18n "publishedOn" }}</span>
        <span class="val"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{- partial "date.html" . -}}</time></span>
      </a>
    {{ end }}
    </div>
  </div>
  <section class="summary">
    {{ .Summary }}
    {{ if .Truncated }} <a href="{{ .RelPermalink }}" class="readmore">{{ i18n "readmore" }}</a>{{ end }}
  </section>
  {{- partial "3d/3d-preview.html" . -}}
</article>
