{{ $class := .Params.type }}
<div class="post {{ $class }}">
    <div class="content">
      <h1 class="post-title">{{ .Title }}</h1>
      <div class="post-body">
          {{- partial "content.html" . -}}

          {{- if .IsSection -}}
            <div class="sections-contents">
              {{ range where .Site.Pages "Section" .Section }}

                {{ partial "list-item.html" . }}

              {{ end }}
            </div>
          {{- end -}}
      </div>
     </div>
    {{- if not .Params.metaPage -}}
        <div class="meta">
          <div class="date">
              <a href="{{ .RelPermalink }}">{{- partial "date.html" (dict "date" .Date "language" $.Page.Language "months" $.Site.Data.months) -}}</a>
          </div>
          {{ partial "meta/tags.html" . }}
        </div>
    {{ end }}
</div>
