{{- $pages := .CurrentSection.RegularPages -}}
{{- if eq .Kind "section" -}}
  {{- $pages = where $pages "Path" "!=" .Path -}}
{{- end -}}
<div class="section-content">
  <h2 class="section-content-heading">{{ i18n "sectionContentsList" }}:</h2>
  <ul class="section-content-list">
    {{- range $pages -}}
      <li class="section-content-item"><a title="{{ .Title }}" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{/*
        {{ range where .Site.Pages "Section" .Section }}
          {{ partial "list-item.html" . }}
        {{ end }}
      */}}
    {{- end -}}
  </ul>
</div>
