{{ define "title" }}
  {{- $title := "" -}}
  {{- if ne .Params.metaPage true -}}
    {{- if eq .CurrentSection.Title "" -}}
      {{- $title = .Title -}}
    {{- else if eq .CurrentSection.Title .Title -}}
      {{- $title = .Title -}}
    {{- else -}}
      {{- $title = printf "%s: %s" .CurrentSection.Title .Title -}}
    {{- end -}}
  {{- else -}}
    {{- $title = .Title -}}
  {{- end -}}
  {{ $title }} · {{ .Site.Title }}
{{ end }}

{{ define "content" }}
  <div class="container error404">
    {{- partialCached "glasses-svg.html" . -}}
    {{- partial "404.html" . -}}
  </div>
{{- end -}}
